html{
    background-color: #c05fd8;
}
#container{
    background-color: rgb(115, 101, 190);
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 15px;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.FlexContainer div {
    width: 775px;
    height: 275px;
   
    
}
#btn{
    background-color: rgb(165, 83, 197);
    color: #ffff;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 20px;
}
input{
    height: 26px;
    border-radius: 46px;
}